@charset "UTF-8";

/* ------------------------------------------------------------------
body
------------------------------------------------------------------ */
body{
	width:100%;
	overflow-x:hidden;
	color:#333;
	text-align:center;
	font-size:12px;
	line-height:1;
	-webkit-text-size-adjust: 100%;
}

/* ------------------------------------------------------------------
link
------------------------------------------------------------------ */
a{color:#333; text-decoration:none;}
a:link{color:#333; text-decoration:none;}
a:active{color:#333; text-decoration:none;}
a:hover{color:#333; text-decoration:none;}

/* ------------------------------------------------------------------
common
------------------------------------------------------------------ */
.m0{
	margin:0px !important;
}

.mb0{
	margin-bottom:0px !important;
}

.mb05{
	margin:0px 0px 5px 0px !important;
}

.mb10{
	margin:0px 0px 10px 0px !important;
}

.mb20{
	margin:0px 0px 20px 0px !important;
}

.mb30{
	margin:0px 0px 30px 0px !important;
}

.mb40{
	margin:0px 0px 40px 0px !important;
}

.mb50{
	margin:0px 0px 50px 0px !important;
}

.mb60{
	margin:0px 0px 60px 0px !important;
}

.mb80{
	margin:0px 0px 80px 0px !important;
}

.fl{
	float:left !important;
}

.fr{
	float:right !important;
}

.tc{
	text-align:center !important;
}

.tr{
	text-align:right !important;
}

.tl{
	text-align:left !important;
}

.f12{
	font-size:12px !important;
}

.f14{
	font-size:14px !important;
}

.f16{
	font-size:16px !important;
}

.f18{
	font-size:18px !important;
}

.red{
	color:#e93939 !important;
}

.ye{
	color:#ffe43f !important;
}

.green{
	color:#339900 !important;
}

.blue{
	color:#3388d7 !important;
}

/* ------------------------------------------------------------------
fonts
------------------------------------------------------------------ */
body *{
	font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
}

/* ------------------------------------------------------------------
wrap
------------------------------------------------------------------ */
#sb-site{
	width:100%;
	height:auto;
	min-height:inherit !important;
	margin:0;
	padding:0;
	line-height:1.6;
	text-align:left;
}

div.container{
	width:96%;
	margin:0 auto;
	padding:0 0 20px 0;
	line-height:1.5;
	text-align:left;
}

/* ------------------------------------------------------------------
header
------------------------------------------------------------------ */
div#header{
	position:relative;
	width:100%;
	height:90px;
}

div#header div.hLogo{
	position:absolute;
	top:10px;
	left:5px;
	width:260px;
}

div#header div.hLogo div{
}

div#header div.hLogo p{
	position:absolute;
	top:3px;
	left:35px;
	font-size:4px;
}

div#header div.hInq{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:10px 0;
	background:#339900;
}

div#header div.hInq p,
div#header div.hInq p span.tel-link,
div#header div.hInq p a{
	color:#FFF;
	font-size:13px;
}

div#header div.hInq p span.ye{
	color:#ddec63;
}

div#header div.hTrigger{
	position:absolute;
	top:8px;
	right:0px;
	width: 23px;
	height: 23px;
	padding:10px 10px;
	z-index:9999999;
}

.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

.menu-trigger {
	position: relative;
	width: 23px;
	height: 23px;
	z-index:99999;
}

.menu-trigger span {
	position:absolute;
	left:0;
	width:100%;
	height:3px;
	background-color:#339900;
	border-radius:3px;
}
.menu-trigger span:nth-of-type(1) {
	top: 0;
}
.menu-trigger span:nth-of-type(2) {
	top: 10px;
}
.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

html.sb-active .menu-trigger span:nth-of-type(1) {
	-webkit-transform: translateY(10px) rotate(-45deg);
	transform: translateY(10px) rotate(-45deg);
	background-color:#FFF;
}

html.sb-active .menu-trigger span:nth-of-type(2) {
	opacity: 0;
}

html.sb-active .menu-trigger span:nth-of-type(3) {
	-webkit-transform: translateY(-10px) rotate(45deg);
	transform: translateY(-10px) rotate(45deg);
	background-color:#FFF;
}

div#header ul.gNav{
	width:240px;
	padding:50px 0 0 20px;
	background:rgba(50,50,50,0.9);
	color:#FFF;
	text-align:left;
}

div#header ul.gNav li{
	border-bottom:1px dotted #999;
}

div#header ul.gNav li a{
	display:block;
	color:#FFF;
	font-size:14px;
	padding:15px 0;
	text-align:left;
}

div#header ul.gNav li a:before{
	content:"\f0a9";
	font-family:FontAwesome;
	font-size:1em;
	color:#ddec63;
	margin:0 10px 0 0;
	vertical-align:middle;
}

html.sb-scroll-lock.sb-active:not(.sb-static) {
	overflow: hidden;
}

.sb-slidebar {
	width:100%;
	overflow:hidden;
	position:absolute;
	top: 0;
	z-index: 0;
	display: none;
	-webkit-transform: translate(0px);
}

.sb-left {
	left: 0;
}

.sb-right {
	right: 0;
}

html.sb-static .sb-slidebar,
.sb-slidebar.sb-static {
	position: absolute;
}

.sb-slidebar.sb-active {
	display: block;
}

.sb-style-overlay {
	z-index: 9999;
}

.sb-momentum-scrolling {
	-webkit-overflow-scrolling: touch;
}

.sb-width-thin {
	width:100%;
}

.sb-width-wide {
	width:100%;
}

.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
	-webkit-transition: -webkit-transform 400ms ease;
	   -moz-transition: -moz-transform 400ms ease;
	     -o-transition: -o-transform 400ms ease;
	        transition: transform 400ms ease;
	-webkit-transition-property: -webkit-transform, left, right;
	-webkit-backface-visibility: hidden;
}

.sb-hide { 
	display: none;
}

div#header ul.gNav>li.close{
	width:100%;
	float:none;
	padding:20px 0 0 0;
	border:none;
}

div#header ul.gNav>li.close span{
	display:block;
	padding:10px 0;
	background:#339900;
	color:#FFF;
	text-align:center;
	font-size:14px;
}

div#header ul.gNav>li.close span:before{
	content:"\f00d";
	font-family:FontAwesome;
	font-size:1.4em;
	color:#ddec63;
	margin:0 10px 0 0;
	vertical-align:middle;
}

/* ------------------------------------------------------------------
footer
------------------------------------------------------------------ */
div#footer{
	background:#339900;
}

div#footer div#footerInner{
	width:96%;
	margin:0 auto;
	padding:10px 0;
	overflow:hidden;
	text-align:left;
	color:#FFF;
}

div#footer div#footerInner a{
}

div#footer div#footerInner div.fNav{
}

div#footer div#footerInner div.fNav ul{
	overflow:hidden;
	margin:0 0 15px 0;
}

div#footer div#footerInner div.fNav ul li{
	float:left;
	width:49%;
}

div#footer div#footerInner div.fNav ul li:nth-child(2n){
	float:right;
}

div#footer div#footerInner div.fNav ul li a{
	display:block;
	width:100%;
	background:#eaf5e5;
	text-align:center;
	padding:10px 0;
	margin:0 0 5px 0;
	font-size:10px;
	border-radius:5px;
}

div#footer div#footerInner div.fadd{
}

div#footer div#footerInner div.fadd{
}

div#footer div#footerInner div.fadd h5{
	font-size:16px;
	margin:0 0 10px 0;
}

div#footer div#footerInner div.fadd p{
	line-height:1.4;
	margin:0 0 10px 0;
}

div#footer div#footerInner div.fadd p a,
div#footer div#footerInner div.fadd p span.tel-link{
	color:#FFF;
}

div#footer div#footerInner div.fadd address{
	font-size:8px;
}
