@charset "UTF-8";

/* ------------------------------------------------------------------
inquiry
------------------------------------------------------------------ */
@media screen and (min-width:768px){
div.inquiry div.pageMv{
	background-image:url(../images/inquiry/mv.jpg);
}

div.inquiry_thanks div.pageMv{
	background-image:url(../images/inquiry/mv.jpg);
}

div.inquiry div.lead{
	text-align:center;
	margin:0 0 40px 0;
}

div.inquiry div.lead h2{
	font-size:18px;
	margin:0 0 20px 0;
}

div.inquiry div.lead p{
}

div.inquiry h3{
	font-size:24px;
	text-align:center;
	margin:0 0 20px 0;
}
}

@media screen and (max-width:767px){
div.inquiry div.pageMv{
	background-image:url(../images/inquiry/mv.jpg);
}

div.inquiry_thanks div.pageMv{
	background-image:url(../images/inquiry/mv.jpg);
}

div.inquiry div.lead{
	text-align:center;
	margin:0 0 20px 0;
}

div.inquiry div.lead h2{
	font-size:18px;
	margin:0 0 20px 0;
}

div.inquiry div.lead p{
}

div.inquiry h3{
	font-size:18px;
	text-align:center;
	margin:0 0 20px 0;
}
}

/* ------------------------------------------------------------------
entry
------------------------------------------------------------------ */
@media screen and (min-width:768px){
div.entry div.pageMv{
	background-image:url(../images/entry/mv.jpg);
}

div.entry_thanks div.pageMv{
	background-image:url(../images/entry/mv.jpg);
}

div.entry div.lead{
	text-align:center;
	margin:0 0 40px 0;
}

div.entry div.lead h2{
	font-size:18px;
	margin:0 0 20px 0;
}

div.entry div.lead p{
}

div.entry h3{
	font-size:24px;
	text-align:center;
	margin:0 0 20px 0;
}
}

@media screen and (max-width:767px){
div.entry div.pageMv{
	background-image:url(../images/entry/mv.jpg);
}

div.entry_thanks div.pageMv{
	background-image:url(../images/entry/mv.jpg);
}

div.entry div.lead{
	text-align:center;
	margin:0 0 20px 0;
}

div.entry div.lead h2{
	font-size:18px;
	margin:0 0 20px 0;
}

div.entry div.lead p{
}

div.entry h3{
	font-size:18px;
	text-align:center;
	margin:0 0 20px 0;
}
}

/* ------------------------------------------------------------------
arbeit
------------------------------------------------------------------ */
@media screen and (min-width:768px){
div.arbeit div.pageMv{
	background-image:url(../images/entry/mv.jpg);
}

div.arbeit_thanks div.pageMv{
	background-image:url(../images/entry/mv.jpg);
}

div.arbeit div.lead{
	text-align:center;
	margin:0 0 40px 0;
}

div.arbeit div.lead h2{
	font-size:18px;
	margin:0 0 20px 0;
}

div.arbeit div.lead p{
}

div.arbeit h3{
	font-size:24px;
	text-align:center;
	margin:0 0 20px 0;
}
}

@media screen and (max-width:767px){
div.arbeit div.pageMv{
	background-image:url(../images/entry/mv.jpg);
}

div.arbeit_thanks div.pageMv{
	background-image:url(../images/entry/mv.jpg);
}

div.arbeit div.lead{
	text-align:center;
	margin:0 0 20px 0;
}

div.arbeit div.lead h2{
	font-size:18px;
	margin:0 0 20px 0;
}

div.arbeit div.lead p{
}

div.arbeit h3{
	font-size:18px;
	text-align:center;
	margin:0 0 20px 0;
}
}

/* ------------------------------------------------------------------
form
------------------------------------------------------------------ */
@media screen and (min-width:768px){
div.wpcf7 form{
}

div.form{
}

div.form *{
	font-size:16px;
}

div.form dl{
	display:table;
	padding:15px;
    *zoom: 1;
	border-bottom:1px dotted #CCC;
}

div.form dl:before,
div.form dl:after{
    content: " ";
    display: table;
}
 
div.form dl:after{
    clear: both;
}
 
div.form dl dt{
	display:table-cell;
	width:300px;
	vertical-align:middle;
	font-weight:bold;
	box-sizing:border-box;
}

div.form dl dd{
	display:table-cell;
	width:700px;
	vertical-align:middle;
	box-sizing:border-box;
}

div.form dl dt span{
	display:inline-block;
	width:40px;
	margin:0 15px 0 0;
	padding:3px 0;
	border-radius:5px;
	text-align:center;
	font-size:12px;
}

div.form dl dt span.must{
	background:#CC0000;
	color:#FFF;
}

div.form dl dt span.option{
	background:#CCCCCC;
	color:#FFF;
}

div.form dl dd span{
	display:block;
}

div.form dl dd span.label{
	float:left;
	box-sizing:border-box;
	padding:10px;
}

div.form dl dd span.link{
	float:left;
	box-sizing:border-box;
	padding:10px;
}

div.form dl dd span.link a{
	font-size:14px;
	color:#CC0000;
	text-decoration:underline;
}

div.form dl dd span.wpcf7-form-control-wrap {
	float:left;
	position:static !important;
}

div.form dl dd span.wpcf7-form-control-wrap input,
div.form dl dd span.wpcf7-form-control-wrap textarea{
	width:100%;
}

div.form dl dd .select span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl dd input{
	width: 80%;
	border:none;
	background:#FFF;
	border:1px solid #DDD;
	padding:6px;
	border-radius:5px;
	box-sizing:border-box;
}

div.form dl dd textarea{
	border:none;
	background:#FFF;
	border:1px solid #DDD;
	padding:6px;
	border-radius:5px;
	box-sizing:border-box;
}

div.form div.buttons {
	overflow:hidden;
	padding:40px 0 0 0;
	text-align:center;
}

div.form div.buttons input{
	margin:0 10px;
	cursor:pointer;
	font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
	border:none;
	display:inline-block;
	padding:20px 100px;
	border-radius:5px;
	text-decoration:none;
	line-height:1;
	background:#CCC;
	color:#FFF;
}

div.form div.buttons input#confirm{
	background:#990000;
	color:#FFF;
}

div.form div.buttons input#send{
	background:#990000;
	color:#FFF;
}

div.form div.buttons input:hover{
	transition:all 0.5s;
	opacity:0.6;
}
}

@media screen and (max-width:767px){
div.wpcf7 form{
	padding:20px 0 0 0;
}

div.form{
	width:96%;
	margin:0 auto;
}

div.form *{
	font-size:16px;
	line-height:1.6;
}

div.form dl{
	margin:0 0 10px 0;
    *zoom: 1;
}

div.form dl:before,
div.form dl:after{
    content: " ";
    display: table;
}
 
div.form dl:after{
    clear: both;
}
 
div.form dl{
}

div.form dl dt{
	box-sizing:border-box;
	font-weight:bold;
	margin:0 0 5px 0;
	padding:0 10px;
}

div.form dl dd{
	width:100%;
}

div.form dl dt span.must{
	display:inline-block;
	width:40px;
	margin:0 10px 0 0;
	padding:3px 0;
	border-radius:5px;
	text-align:center;
	font-size:12px;
	background:#DD0000;
	color:#FFF;
}

div.form dl dt span.option{
	display:inline-block;
	width:40px;
	margin:0 10px 0 0;
	padding:3px 0;
	border-radius:5px;
	text-align:center;
	font-size:12px;
	background:#CCCCCC;
	color:#FFF;
}

div.form dl dd span{
	display:block;
}

div.form dl dd span.label{
	float:left;
	box-sizing:border-box;
	padding:10px;
	margin:0 0 5px 0;
	font-size:14px;
}

div.form dl dd span.link{
	float:left;
	box-sizing:border-box;
	padding:10px;
	margin:0 0 5px 0;
}

div.form dl dd span.link a{
	color:#dc1e37;
	text-decoration:underline;
	font-size:12px;
}

div.form dl dd span.wpcf7-form-control-wrap {
	float:left;
	position:static !important;
	margin:0 0 5px 0;
}

div.form dl dd span.wpcf7-form-control-wrap input,
div.form dl dd span.wpcf7-form-control-wrap textarea{
	width:100%;
}

div.form dl dd .select span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl dd input{
	width: 100%;
	border:none;
	background:#f2f2f2;
	padding:10px;
	border-radius:5px;
	box-sizing:border-box;
}

div.form dl dd textarea{
	border:none;
	background:#f2f2f2;
	padding:10px;
	border-radius:5px;
	box-sizing:border-box;
}

div.form div.buttons {
	overflow:hidden;
	padding:20px 0 0 0;
	text-align:center;
}

div.form div.buttons input{
	-webkit-appearance: none;
	margin:0 0 10px 0;
	cursor:pointer;
	font-family:'メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ＭＳ Ｐゴシック',sans-serif;
	border:none;
	display:block;
	width:100%;
	padding:20px 0;
	border-radius:5px;
	text-decoration:none;
	line-height:1;
	background:#CCC;
}

div.form div.buttons input#confirm{
	background:#990000;
	color:#FFF;
}

div.form div.buttons input#back{
	width:48%;
	background:#CCC;
	color:#FFF;
	float:left;
}

div.form div.buttons input#send{
	width:48%;
	background:#990000;
	color:#FFF;
	float:right;
}
}

/* ------------------------------------------------------------------
thanks
------------------------------------------------------------------ */
@media screen and (min-width:768px){
p.thanks{
	border:1px solid #CCC;
	padding:40px 0;
	text-align:center;
	overflow:hidden;
}

p.thanks strong{
	display:block;
	font-size:18px;
}

p.thanks a{
	display:block;
	width:140px;
	margin:20px auto 0 auto;
	padding:10px 40px;
	background:#990000;
	color:#FFF;
}

p.thanks a:hover{
	transition:all 0.5s;
	opacity:0.6;
}
}

@media screen and (max-width:767px){
p.thanks{
	width:96%;
	margin:0 auto;
	border:1px solid #CCC;
	padding:20px 10px;
	text-align:center;
	overflow:hidden;
	box-sizing:border-box;
}

p.thanks strong{
	display:block;
	font-size:18px;
}

p.thanks a{
	display:block;
	margin:20px auto 0 auto;
	padding:10px 0;
	background:#990000;
	color:#FFF;
}
}

/* ------------------------------------------------------------------
select
------------------------------------------------------------------ */
@media screen and (min-width:768px){
.select{
	display:inline-block;
	position:relative;
}

.select i{
	position:absolute;
	top:11px;
	right:10px;
	background:url(../images/form/select_icon.png) no-repeat;
	background-size:13px auto;
	width:13px;
	height:18px;
}

.select-value {
	border:none;
	background:#FFF;
	border:1px solid #DDD;
	padding:6px;
	font-size:16px;
	border-radius:5px;
	box-sizing:border-box;
	cursor: pointer;
}

.select-list{
	position:absolute;
	top:43px;
	left:0;
	width:100%;
	z-index:1;
	border:1px solid #DDD;
	background:#FFF;
	border-radius:5px;
	box-sizing:border-box;
	cursor: pointer;
}

.select-list .select-desc {
	display: none;
}

.select-list .option-label {
	font-size:16px;
	margin:0;
	padding:6px;
	background:#CFD8DC;
}

.select-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.select-list li{
	cursor:pointer;
	font-size:16px;
	padding: 6px 6px 6px 20px;
	border-bottom:1px solid #d9d9d9;
}

.select-list li:last-child{
	border:none;
}

.select-list li:hover{
	background:#F5F5F5;
	transition: 0.2s;
}

.select-list li.select-active {
	color:#FFF;
	background:#CCC;
}
}

@media screen and (max-width:767px){
.select{
	display:inline-block;
	position:relative;
}

.select i{
	position:absolute;
	top:14px;
	right:10px;
	background:url(../images/form/select_icon.png) no-repeat;
	background-size:13px auto;
	width:13px;
	height:18px;
}

.select-value {
	border:none;
	background:#f2f2f2;
	padding:10px;
	font-size:16px;
	border-radius:5px;
	box-sizing:border-box;
	cursor: pointer;
}

.select-list{
	position:absolute;
	top:50px;
	left:0;
	width:100%;
	z-index:1;
	border:1px solid #CCC;
	background:#FFF;
	border-radius:5px;
	box-sizing:border-box;
	cursor: pointer;
}

.select-list .select-desc {
	display: none;
}

.select-list .option-label {
	font-size:16px;
	margin:0;
	padding:0;
	padding:10px;
	background:#CFD8DC;
}

.select-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.select-list li{
	cursor:pointer;
	font-size:16px;
	padding: 6px 6px 6px 20px;
	border-bottom:1px solid #d9d9d9;
}

.select-list li:last-child{
	border:none;
}

.select-list li:hover{
	background:#F5F5F5;
	transition: 0.2s;
}

.select-list li.select-active {
	color:#FFF;
	background:#CCC;
}
}

/* ------------------------------------------------------------------
valid
------------------------------------------------------------------ */
@media screen and (min-width:768px){
div.wpcf7 div.wpcf7-validation-errors{
	background:#990000;
	border:none;
	padding:15px;
	color:#FFF;
	text-align:center;
	font-size:16px;
	margin:0 0 20px 0;
}

div.wpcf7 span.wpcf7-not-valid-tip{
	display:block;
	color:#CC0000;
	font-size:12px;
	margin:5px 0 0 0;
}

div.wpcf7 div.wpcf7-conf-title{
	background:#666;
	border:none;
	padding:15px;
	color:#FFF;
	text-align:center;
	font-size:16px;
	margin:0 0 20px 0;
}
}

@media screen and (max-width:767px){
div.wpcf7 div.wpcf7-validation-errors{
	margin:0 0 10px 0;
	background:#cc0000;
	border:none;
	padding:15px;
	color:#FFF;
	text-align:center;
	font-size:16px;
}

div.wpcf7 span.wpcf7-not-valid-tip{
	color:#cc0000;
	display:block;
}

div.wpcf7 div.wpcf7-conf-title{
	background:#111;
	border:none;
	padding:15px;
	color:#FFF;
	text-align:center;
	font-size:16px;
	margin:0 0 10px 0;
}
}

/* ------------------------------------------------------------------
width
------------------------------------------------------------------ */
@media screen and (min-width:768px){
div.form dl.type dd div.select{
	width:100%;
}

div.form dl.area dd div.select{
	width:100%;
}

div.form dl.products dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.name dd span.label{
	width:8%;
}

div.form dl.name dd span.wpcf7-form-control-wrap{
	width:42%;
}

div.form dl.zip dd span.label{
	width:14%;
}

div.form dl.zip dd span.wpcf7-form-control-wrap{
	width:42%;
}

div.form dl.addr1 dd span.label{
	width:14%;
}

div.form dl.addr1 dd span.wpcf7-form-control-wrap{
	width:42%;
}

div.form dl.addr2 dd span.label{
	width:14%;
}

div.form dl.addr2 dd span.wpcf7-form-control-wrap{
	width:86%;
}

div.form dl.addr3 dd span.label{
	width:14%;
}

div.form dl.addr3 dd span.wpcf7-form-control-wrap{
	width:86%;
}

div.form dl.company dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.tel dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.mail dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.products dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.cont dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.day dd span.wpcf7-form-control-wrap{
	width:42%;
}

div.form dl.educational1 dd span.label{
	width:20%;
}

div.form dl.educational1 dd div.select{
	width:80%;
}

div.form dl.educational2 dd span.label{
	width:20%;
}

div.form dl.educational2 dd span.wpcf7-form-control-wrap{
	width:80%;
}

div.form dl.educational3 dd span.label{
	width:20%;
}

div.form dl.educational3 dd span.wpcf7-form-control-wrap{
	width:80%;
}

div.form dl.educational4 dd span.label{
	width:20%;
}

div.form dl.educational4 dd span.wpcf7-form-control-wrap{
	width:40%;
}

div.form dl.cont dd textarea{
	width:100%;
	height:12em;
}
}

@media screen and (max-width:767px){
div.form dl.type dd div.select{
	width:100%;
}

div.form dl.area dd div.select{
	width:100%;
}

div.form dl.day dd span.wpcf7-form-control-wrap{
	width:42%;
}

div.form dl.products dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.name dd span.label{
	width:20%;
}

div.form dl.name dd span.wpcf7-form-control-wrap{
	width:80%;
}

div.form dl.zip dd span.label{
	width:20%;
}

div.form dl.zip dd span.wpcf7-form-control-wrap{
	width:40%;
}

div.form dl.addr1 dd span.label{
	width:30%;
}

div.form dl.addr1 dd span.wpcf7-form-control-wrap{
	width:70%;
}

div.form dl.addr2 dt{
	height:0;
	margin:0;
}

div.form dl.addr2 dd span.label{
	width:30%;
}

div.form dl.addr2 dd span.wpcf7-form-control-wrap{
	width:70%;
}

div.form dl.addr3 dt{
	height:0;
	margin:0;
}

div.form dl.addr3 dd span.label{
	width:30%;
}

div.form dl.addr3 dd span.wpcf7-form-control-wrap{
	width:70%;
}

div.form dl.company dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.tel dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.mail dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.products dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.cont dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.day dd span.wpcf7-form-control-wrap{
	width:100%;
}

div.form dl.educational1 dd span.label{
	width:40%;
}

div.form dl.educational1 dd div.select{
	width:60%;
}

div.form dl.educational2 dd span.label{
	width:40%;
}

div.form dl.educational2 dd span.wpcf7-form-control-wrap{
	width:60%;
}

div.form dl.educational3 dd span.label{
	width:40%;
}

div.form dl.educational3 dd span.wpcf7-form-control-wrap{
	width:60%;
}

div.form dl.educational4 dd span.label{
	width:40%;
}

div.form dl.educational4 dd span.wpcf7-form-control-wrap{
	width:30%;
}

div.form dl.educational4 dd span.link{
	font-size:10px;
	margin:5px 0 0 0;
}

div.form dl.cont dd textarea{
	width:100%;
	height:12em;
}
}

/* ------------------------------------------------------------------
form
------------------------------------------------------------------ */
div.wpcf7 {
}

div.wpcf7 .screen-reader-response {
	display:none !important;
}

div.wpcf7-mail-sent-ok {
	display:none !important;
}

div.wpcf7-mail-sent-ng {
	display:none !important;
}

div.wpcf7-spam-blocked {
	display:none !important;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	display:none !important;
}

span.wpcf7-list-item {
	display:none !important;
}

div.wpcf7 div.ajax-error {
	display:none !important;
}

div.wpcf7 .placeheld {
	display:none !important;
}