@charset "UTF-8";

/* ------------------------------------------------------------------
mv
------------------------------------------------------------------ */
div.topMv{
	margin:0 0 20px 0;
}

/* ------------------------------------------------------------------
top
------------------------------------------------------------------ */
div.top01{
	margin:0 0 10px 0;
}

div.top02{
}

div.top02 div.item{
	background:#ecf8e2;
	padding:10px;
	margin:0 0 10px 0;
}

div.top02 div.item h3{
	font-size:16px;
	color:#339900;
	text-align:center;
	margin:0 0 10px 0;
}

div.top02 div.item ul{
	overflow:hidden;
	margin:0 0 10px 0;
}

div.top02 div.item ul li{
	width:49%;
	float:left;
}

div.top02 div.item ul li:nth-child(2n){
	float:right;
}

div.top02 div.item ul li img{
	border-radius:5px;
}

div.top02 div.item ul li span{
	display:block;
	margin:5px 0 0 0;
	color:#e93939;
	font-size:12px;
	font-weight:bold;
	text-align:center;
}

div.top03{
}

div.top03 div.item{
	background:#fff7c9;
	padding:10px;
	overflow:hidden;
	margin:0 0 10px 0;
}

div.top03 div.item div.pic{
	width:40%;
	float:left;
}

div.top03 div.item div.pic img{
	border-radius:5px;
}

div.top03 div.item div.txt{
	width:56%;
	float:right;
}

div.top03 div.item div.txt h3{
	font-size:14px;
	color:#eb6f00;
	margin:0 0 5px 0;
}

div.top04{
}

div.top04 div.item{
	width:49%;
	float:left;
	background:#e3f2ff;
	padding:5px;
	overflow:hidden;
	margin:0 0 10px 0;
	box-sizing:border-box;
}

div.top04 a:nth-child(1) div.item{
	width:100%;
}

div.top04 a:nth-child(3) div.item,
div.top04 a:nth-child(5) div.item{
	float:right;
}

div.top04 div.item h3{
	font-size:12px;
	text-align:center;
	color:#3388d7;
	margin:5px 0 0 0;
}

div.top04 div.item:nth-child(1) h3{
	font-size:14px;
}

div.top04 div.item p{
	text-align:center;
}

