@charset "UTF-8";
/*
	./_mailformpro.css/default/01.mailformpro.css
	./_mailformpro.css/default/02.base.css
	./_mailformpro.css/default/03.label.css
	./_mailformpro.css/default/04.confirm.css
	./_mailformpro.css/default/05.confirm.flat.css
	./_mailformpro.css/default/06.confirm.overlay.css
	./_mailformpro.css/default/07.loading.css
	./_mailformpro.css/default/08.stripe.css
	./_mailformpro.css/default/09.error.css
	./_mailformpro.css/default/10.warning.css
	./_mailformpro.css/default/11.price.css
	./_mailformpro.css/default/12.phase.css
	./_mailformpro.css/default/13.cart.css
	./_mailformpro.css/default/14.button.css
	./_mailformpro.css/default/15.element.css
	./_mailformpro.css/default/16.reserve.css
	./_mailformpro.css/default/17.ok.css
	./_mailformpro.css/default/18.prefadv.css
	./_mailformpro.css/default/99.animated.css
	./_mailformpro.css/max-width.800px/mobile.css
*/

body {
	overflow-x: hidden;
}
div#mfp_hidden {
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0px;
	margin: 0px;
}
div#mfp_hidden input {
	margin: 10px;
}
div.mfp_thanks {
	padding: 30px;
}
div.mfp_thanks p {
	line-height: 1.7em;
}
div.mfp_thanks ul.mfp_caution {
	margin: 0px;
	padding: 0px;
}
div.mfp_thanks ul.mfp_caution li {
	display: block;
	color: #C00;
	margin: 0px;
	padding: 5px 0px;
}
div#mfp_thanks {
	text-align: center;
	font-size: 18px;
	padding: 20px 0px;
}
div#mfp_thanks strong {
	color: #C00;
	font-size: 24px;
}
div.mfp_phase {
	padding: 25px 0px;
	background-color: #FAEEE0;
    border-radius: 15px;
}
form#mailformpro {
	padding: 25px 0px;
}
form#mailformpro dl dt {
    float: left;
    width: 28%;
    clear: both;
    font-size: 16px;
    padding: 10px 0px 10px 5rem;
    text-align: left;
    margin-top: 10px;
	color:#DB8E35;
	font-weight:bold;
}
form#mailformpro dl dd {
/**	border-top: solid 1px #CCC;**/
	margin: 0px;
	padding: 10px 5px 5px 29%;
	font-size: 16px;
	line-height: 1.5em;
	text-align: left;
}
form#mailformpro dl dd ul,form#mailformpro dl dd ol {
	margin: 0px;
	padding: 0px;
}
form#mailformpro dl dd ul li,form#mailformpro dl dd ol li {
	margin: 0px;
	padding: 0px;
	list-style: none;
    color: #DB8E35;
    font-weight: bold;
}
.must {
	display: block;
	background-color: #C00;
	border: solid 2px #C00;
	text-shadow: 0px 1px 2px #933;
	padding: 2px 5px;
	font-size: 10px;
	color: #FFF;
	float: left;
	margin: 0px 5px;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #CCC;
	background-image: url(images/header.png);
	background-size: 100% 100%;
}
.optionally {
	display: block;
	background-color: #06C;
	border: solid 2px #06C;
	text-shadow: 0px 1px 2px #933;
	padding: 2px 5px;
	font-size: 10px;
	color: #FFF;
	float: left;
	margin: 0px 5px;
	border-radius: 4px;
	box-shadow: 0px 0px 5px #CCC;
	background-image: url(images/header.png);
	background-size: 100% 100%;
}
form#mailformpro label {
	border-radius: 3px;
	margin: 3px;
	display: inline-block;
	white-space: nowrap;
}
form#mailformpro label.mfp_checked {
	padding: 3px;
	border: solid 1px #CCC;
	background-color: #E8EEF9;
	box-shadow: 0px 1px 3px #CCC inset;
}
form#mailformpro label.mfp_not_checked {
	padding: 3px;
	border: solid 1px #EEE;
}
table#mfp_confirm_table {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
    margin: 30px 0;
}
table#mfp_confirm_table tr.mfp_colored {
	background-color: #FAEEE0;
}
table#mfp_confirm_table tr.mfp_achroma {
	background-color: #FAEEE0;
}
table#mfp_confirm_table tr th,table#mfp_confirm_table tr td {
	text-align: left;
	font-size: 16px;
	border-top: dotted 1px #fff;
	padding: 15px 25px;
}
table#mfp_confirm_table tr th {
	white-space: nowrap;
	width: 200px;
	text-align: right;
}
table#mfp_confirm_table tr td {
	line-height: 1.5em;
	word-break: break-all;
}
div#mfp_phase_confirm {
	clear: both;
	background-color: #FAEEE0;
    border-radius: 10px;
    margin-bottom: 5px;
}
div#mfp_phase_confirm h4 {
	font-size: 36px;
	padding: 25px 0px 0px 0px;
	text-align: center;
    color: red;
}
div#mfp_overlay {
	position: absolute;
	display: none;
	z-index: 10001;
}
div#mfp_overlay_inner {
	background-color: #FFF;
	padding: 15px;
	margin: 0px auto;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #000;
	width: 640px;
	max-width: 90%;
}
div#mfp_overlay_background {
	background-color: #000;
	position: absolute;
	display: none;
	z-index: 10000;
}
div#mfp_loading_screen {
	z-index: 20000;
	opacity: 0.8;
	display: none;
	background-color: #000;
	position: absolute;
}
div#mfp_loading {
	z-index: 20001;
	position: absolute;
	display: none;
	width: 40px;
	height: 40px;
	background-image: url(images/mfp_loading.gif);
}
.mfp_colored {
	background-color: #FAEEE0;
}
.mfp_achroma {
	background-color: #FAEEE0;
}
div.mfp_err {
	clear: both;
	display: none;
	text-align: left;
	margin: 5px 0px 0px 0px;
	padding: 3px 0px 5px 17px;
	color: #F00;
	font-size: 12px;
	line-height: normal;
	background-image: url(images/mfp_error.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
}
.mfp_parent_error {
	border: solid 2px #F00;
}
.problem {
	background-color: #FCC;
}
div#mfp_error {
	background-color: #FEE;
	border: solid 1px #F00;
	padding: 10px;
	display: none;
}
div#mfp_error p {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	text-align: center;
}
div#mfp_error p strong {
	font-size: 18px;
	color: #F00;
}
div#mfp_warning {
	background-color: #FEE;
	border: solid 1px #F00;
	padding: 10px;
	display: none;
}
div#mfp_warning p {
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	text-align: center;
}
div#mfp_warning p strong {
	font-size: 18px;
	color: #F00;
}
div#mfp_price {
	color: #C00;
	font-size: 36px;
	padding: 10px;
	font-weight: bolder;
}
div#mfp_price span {
	color: #666;
	font-size: 12px;
	font-weight: normal;
}
button.mfp_next,button.mfp_prev {
	font-size: 1.4rem;
/**	margin: 10px;**/
/**	padding: 5px 10px;**/
    display: block;
    padding: 10px 90px;
	background-color:#2a73b6;
    margin: 0 auto 50px auto;
	max-width:350px;
	color:white;
}
button.mfp_next {
/**	float: right;**/
}
button.mfp_prev {
	float: left;
}
ul#mfp_phase_stat {
	padding: 10px;    display: none;
}
ul#mfp_phase_stat li {
	float: left;
	padding: 8px 15px;
	border-radius: 3px;
	margin: 5px;
	list-style: none;
	font-size: 14px;
}
ul#mfp_phase_stat li.mfp_phase_arrow {
	box-shadow: none;
	padding: 8px 5px;
}
ul#mfp_phase_stat li.mfp_active_phase {
	background-color: #E8EEF9;
	box-shadow: 0px 0px 5px #000;
}
ul#mfp_phase_stat li.mfp_inactive_phase {
	background-color: #CCC;
	color: #666;
	box-shadow: 0px 0px 5px #CCC;
}
div#mfp_shopping_cart {
	border: solid 1px #CCC;
	margin: 0px;
	padding: 0px;
}
div#mfp_shopping_cart p {
	margin: 0px;
	text-align: center;
	padding: 20px 10px;
	font-size: 12px;
	background-color: #FEE;
}
table.mfp_shoppingcart {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;
}
table.mfp_shoppingcart thead tr td {
	background-color: #EEE;
	border-bottom: solid 1px #CCC;
	text-align: center;
	font-size: 12px;
	padding: 5px;
}
table.mfp_shoppingcart tbody tr th,table.mfp_shoppingcart tbody tr td {
	font-size: 12px;
	padding: 5px;
	border-bottom: solid 1px #CCC;
}
table.mfp_shoppingcart tbody tr td select {
	display: block;
	margin: 0px auto;
	text-align: center;
}
table.mfp_shoppingcart tbody tr td select option {
	text-align: center;
}
table.mfp_shoppingcart tbody tr th span {
	display: block;
	font-weight: normal;
	font-size: 10px;
	color: #666;
	padding: 3px 0px;
}
table.mfp_shoppingcart tfoot tr td {
	padding: 5px;
	font-size: 16px;
	font-weight: bolder;
	color: #900;
}
td.msc_price {
	font-size: 12px;
	text-align: right;
}
div.mfp_buttons {
	clear: both;
	padding: 10px 0px;
	text-align: center;
}
div.mfp_buttons button#mfp_button_cancel {
}
.imagebutton {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	background: none;
}
.mfp_element_all {
	max-width: 90%;
}
.mfp_element_text,
.mfp_element_number,
.mfp_element_select-one,
.mfp_element_email,
.mfp_element_tel,
.mfp_element_textarea,
.mfp_element_date {
	border: none;
    box-shadow: none;
    padding: 10px;
    margin: 2px;
    vertical-align: middle;    background-color: #fff;
}
.mfp_element_checkbox,
.mfp_element_radio {
	vertical-align: middle;
	margin: 0px 2px;
}
.mfp_element_reset {
    font-size: 1.8rem;
    padding: 15px 90px;
    background-color: #fff;
    margin: 0 auto 50px auto;
    max-width: 350px;
    color: #aaa;
    border-style: none;
    border: 2px solid #aaa;
    font-weight: bold;
	cursor: pointer;
}
.mfp_element_submit,.mfp_element_button {
    font-size: 1.8rem;
    padding: 15px 90px;
    background-color: #fff;
    margin: 0 auto 50px auto;
    max-width: 350px;
    color: #DB8E35;
    border-style: none;
    border: 2px solid #DB8E35;
    font-weight: bold;
	cursor: pointer;
}
div.mailbtntxt01{
    font-size: 1.8rem;
	text-align:center;
	padding:25px 0;
	line-height:2.8rem;
}
div.mailbtntxt02{
    font-size: 1.4rem;
	text-align:center;
	padding-bottom:25px;
	line-height:2rem;
    color: #DB8E35;
}
div.mailafter_area{
    padding: 45px 0px;
    background-color: #FAEEE0;
    border-radius: 15px;
}
div.mailafter_area .after01{
    color: #DB8E35;
    width: 47%;
    float: left;
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
    height: auto;
    font-size: 2rem;
    padding-top: 2.5rem;
}
div.mailafter_area .after02{
    color: #DB8E35;
	width:49%;
	float:right;
	vertical-align: middle;
	text-align:left;
}
div.mailafter_area .after02 a{
    color: #DB8E35;
    font-size: 4rem;
	text-align:left;
    font-weight: bold;
    display: block;
}
div.mailafter_area .after02 span{
    font-size: 1.4rem;
	text-align:left;
    color: #000;
}
.mfp span.req{
    color: #f11818;
    padding: 2px 5px;
    border: 1px solid #f11818;
    font-size: 1.2rem;
    vertical-align: top;
    margin-left: 5px;
}
h1.mailform_h1{
	font-size:4rem;
	text-align:center;
    color: #DB8E35;
	padding:50px 0;
}
div.thanks_txt{
	font-size:1.8rem;
	text-align:center;
	margin-bottom: 50px;
}
div.thanks_txt a{
    padding: 8px 20px;
    border: 1px solid #DB8E35;
    font-size: 1.5rem;
    margin-left: 2rem;
	margin-top: 15px;
	background-color:#fff;
    color: #DB8E35;
}
div.thanks_txt a:hover{
    padding: 8px 20px;
    border: 1px solid #DB8E35;
    font-size: 1.5rem;
    margin-left: 2rem;
	margin-top: 15px;
	background-color:#DB8E35;
    color: #fff;
}
@media screen and (max-width: 910px) {
	form#mailformpro dl dt {
	    float: left;
	    width: 28%;
	    clear: both;
	    font-size: 14px;
	    padding: 10px 0px 10px 5rem;
	    text-align: left;
	    margin-top: 10px;
		color:#DB8E35;
		font-weight:bold;
	}
	form#mailformpro dl dd {
	/**	border-top: solid 1px #CCC;**/
		margin: 0px;
		padding: 10px 5px 5px 29%;
		font-size: 14px;
		line-height: 1.5em;
		text-align: left;
	}
}
@media screen and (max-width: 800px) {
	.mfp_element_submit,.mfp_element_reset,.mfp_element_button {
	padding:10px;
	}
	form#mailformpro dl dd ul li,form#mailformpro dl dd ol li {
		margin: 0px;
		padding: 0px 15px;
		list-style: none;
	    color: #DB8E35;
	    font-weight: bold;
	}
	div.mailbtntxt01{
	    font-size: 1.4rem;
		text-align:center;
		padding:25px 0;
		line-height:2.8rem;
	}
	div.mailafter_area{
	    padding: 20px 0px;
	    background-color: #FAEEE0;
	    border-radius: 15px;
	}
	div.mailafter_area .after01{
	    color: #DB8E35;
	    width: 100%;
	    float: left;
	    text-align: center;
	    font-weight: bold;
	    vertical-align: middle;
	    height: auto;
		padding-top: 0;
	    line-height: 3.5rem;
	}
	div.mailafter_area .after02{
	    color: #DB8E35;
		width:100%;
		float:right;
		vertical-align: middle;
		text-align:center;
	}
	div.mailafter_area .after02 a{
	    color: #DB8E35;
	    font-size: 2.2rem;
		text-align:center;
	    font-weight: bold;
	    display: block;
	}
	div.mailafter_area .after02 span{
	    font-size: 1.4rem;
		text-align:center;
	    color: #000;
	}
	h1.mailform_h1{
		font-size:1.8rem;
		text-align:center;
	    color: #DB8E35;
		padding:25px 0;
	}
	div.thanks_txt{
		font-size:1.4rem;
		text-align:center;
		margin-bottom: 25px;
	}

}
.mfp_element_reset {
/**	color: #333;**/
}
.mfp_element_submit:hover,.mfp_element_reset:hover,.mfp_element_button:hover {
/**
	background: gradient(linear, center top, center bottom, from(#F7F7F7), to(#7ECEF4));
	background: -webkit-gradient(linear, center top, center bottom, from(#F7F7F7), to(#7ECEF4));
	background: -moz-linear-gradient(top, #F7F7F7, #7ECEF4);
	background: -ms-linear-gradient(top, #F7F7F7 0%, #7ECEF4 100%);
	box-shadow: 0px 2px 15px #7ECEF4;
**/
}
input#mfp_reserve_item,input#mfp_reserve_date {
	display: none;
}
div#mfp_reserve_wrapper {
	position: relative;
	overflow: hidden;
	border: solid 1px #CCC;
}
div#mfp_reserve_inner {
	position: relative;
	padding: 0px 0px 0px 100px;
	overflow: auto;
}
div#mfp_reserve_wrapper table {
	border-spacing: 0px;
	border-collapse: collapse;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_label {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	background-color: #FEE;
	z-index: 100;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value {
	padding: 0px 0px 0px 0px;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active,
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning {
	cursor: pointer;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_active:hover,
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_warning:hover {
	background-color: #E8EEF9;
}
div#mfp_reserve_wrapper table.mfp_reserve_table_value tr td.mfp_reserve_current {
	background-color: #0068B7;
	color: #FFF;
}
td.mfp_reserve_disabled {
	background-color: #CCC;
}
td.mfp_reserve_warning {
	background-color: #FFC;
}
div#mfp_reserve_wrapper table tr td,div#mfp_reserve_wrapper table tr th {
	border: solid 1px #CCC;
	padding: 0px 5px;
	font-size: 12px;
	text-align: center;
	font-family: Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
	font-weight: normal;
	height: 20px;
	text-align: left;
}
td.mfp_reserve_week_0 {
	color: #F00;
	background-color: #FEE;
}
td.mfp_reserve_week_6 {
	color: #00F;
	background-color: #EEF;
}
div.mfp_ok {
	border-radius: 5px;
	background-color: #090;
	border: solid 1px #090;
	display: inline-block;
	line-height: 1.5em;
	padding: 0px 5px;
	margin: 0px 2px;
	color: #FFF;
	font-size: 10px;
	background-image: url(images/header.png);
	background-size: 100% 100%;
	display: none;
}
div.prefcodeWrapper {
	position: relative;
}
div.prefcodeResult {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 5px;
	border: solid 1px #CCC;
	background-color: #FFF;
	box-shadow: 0px 0px 5px #CCC;
	display: none;
}
div.prefcodeResult div {
	cursor: pointer;
}
div.prefcodeResult div:hover {
	background-color: #C9EBFB;
}
div.prefcodeResult div.prefcodeNext {
	background-color: #EEE;
	text-align: center;
}
div.prefLoading {
	padding: 60px 100px;
	background: url(images/mfp_zip_loading.gif) no-repeat center center;
}
.hidefield {
	height: 0px;
	overflow: hidden;
}
.showfield {
	height: auto;
	overflow: visible;
}
span#mongon{
    background-color: #2a73b6;
    color: white;
    padding: 10px;
}
@media screen and (max-width: 800px) {
	form#mailformpro dl dt {
		float: none;
		width: auto;
		font-size: 12px;
		padding: 5px;
		text-align: left;
	}
	form#mailformpro dl dd {
		clear: both;
		border-top: none;
		padding: 5px 15px;
		font-size: 12px;
		line-height: 1.5em;
	}
	div.mfp_buttons button {
		font-size: 14px;
	}
	div#mfp_phase_confirm h4 {
		font-size: 18px;
	}
	ul#mfp_phase_stat {
		padding: 0px;
	}
	ul#mfp_phase_stat li {
		float: left;
		text-align: center;
		padding: 5px 0px;
		border-radius: 3px;
		margin: 5px;
		list-style: none;
		font-size: 14px;
		width: 28%;
	}
	ul#mfp_phase_stat li.mfp_phase_arrow {
		bos-shadow: none;
		display: none;
	}
	ul#mfp_phase_stat li.mfp_active_phase {
		background-color: #E8EEF9;
		box-shadow: 0px 0px 5px #000;
	}
	ul#mfp_phase_stat li.mfp_inactive_phase {
		background-color: #CCC;
		color: #666;
		box-shadow: 0px 0px 5px #CCC;
	}
	table#mfp_confirm_table tr th {
		white-space: nowrap;
		width: 100px;
	}
	div#mfp_thanks {
		text-align: center;
		font-size: 18px;
		padding: 20px 0px;
	}
	div#mfp_thanks strong {
		color: #C00;
		font-size: 24px;
		display: block;
	}
	span#mongon{
	    background-color: #2a73b6;
	    color: white;
	    padding: 10px;
		display:none;
	}

}
